body {
  background-image: url("../images/breaking-bad-background.png");
}

.container {
  background-color: #fff;
  min-height: 600px;
}

.saul {
  margin-top: 15px;
  background-image: url("../images/better-call-saul.png");
}

.saul h2 {
  top: 59px;
  position: relative;
  left: 140px;
  color: ccc;
  background: rgba(0, 0, 0, 0.4);
  width: 500px;
}

.heisenberg {
  margin-top: 15px;
  background-image: url("../images/heisenberg.png");
}

.heisenberg h3 {
  position: relative;
  color: #333;
  width: 360px;
  top: 46px;
  left: 32px;
}

.footer {
  width: 730px;
  margin: auto;
  color: #888;
}

.property-card {
  margin: 4px;
}

.property-card span {
  display: inline-block;
  width: 200px;
  text-align: right;
  font-size: 1.6em;
  margin-right: 10px;
}

#details {
  margin-top: 30px;
}

#details ul {
  list-style-type: none;
  margin: 0;
}

#details ul li span.details-value {
  font-weight: bold;
  margin: 10px;
}

.country-search input.input-lg {
  font-size: 1.6em;
}

.country-search button.btn {
  padding: 6px 28px;
  font-size: 1.6em;
}

#map {
  width: 314px;
  height: 350px;
}

#map h4 {
  text-align: center;
  font-weight: bold;
  color: #aaa;
  font-size: 2.1em;
  margin-top: 150px;
}
