<html>
  <head>
    <title>Walter White Labs</title> 
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/jumbotron-narrow.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/saul.css" type="text/css" />

    <script type="text/template" id="country">
      <div class="property-card" data-id="<%= alpha2Code %>">
        <span><%= name %></span>
        <button class="btn btn-xs btn-info country-details" data-id="<%= alpha2Code %>">View Details</button>
      </div>
    </script>

  </head>
  <body>
    <div class="container">
      <div class="jumbotron saul">
        <h2>Saul's Relocation Possibilities</h2>
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <div id="list-of-countries"></div>
        </div>
        
        <div class="col-lg-6">
          <div id="details">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li><span>Currency Code: </span><span class="details-value" id="currency"></span></li>
                  <li><span>Language Code: </span><span class="details-value" id="language"></span></li>
                  <li><span>Distance from ABQ: </span><span class="details-value" id="distance"></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>&copy; 2013 Ice Station Zebra Associates</p>
    </div>

    <script type="text/javascript" src="../assets/javascript/underscore-min.js"></script>
    <script type="text/javascript" src="../assets/javascript/jquery-min.js"></script>
    <script type="text/javascript" src="../assets/javascript/backbone-min.js"></script>
    <script type="text/javascript" src="app.js"></script>


    <script type="text/javascript">
      var countries, countryDetails, distanceHaversine;

      distanceHaversine = (function() {
        rad = function(x) { return x*Math.PI/180; }

        distHaversine = function(p1, p2) {
          var R = 3959, // earth's mean radius in miles
              dLat  = rad(p2.lat - p1.lat),
              dLong = rad(p2.lng - p1.lng),

              a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(rad(p1.lat)) * Math.cos(rad(p2.lat)) * Math.sin(dLong/2) * Math.sin(dLong/2),
              c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)),
              d = R * c;

          return d.toFixed(0);
        }
        
        return {
          distance: distHaversine
        }
      })();
      
      countryDetails = function(countryCode){
        $('#details').show();

        var selectedCountry = _.findWhere(countries, {alpha2Code: countryCode}),
            geoPoint = {lat: selectedCountry.latlng[0], lng: selectedCountry.latlng[1]},
            theAbq = {lat: 35.1107, lng: -106.6100};

        $('.panel-title').text(selectedCountry.name);
        $('#currency').text(selectedCountry.currency);
        $('#language').text(selectedCountry.languages);
        $('#distance').text(distanceHaversine.distance(theAbq, geoPoint) + " miles");
      };

      $("#list-of-countries").on('click', 'button.country-details', function(){ countryDetails($(this).data('id')); });

      $(function(){
        $('#details').hide();
        new CountriesView({el: "#list-of-countries"});
      });
    </script>
  </body>
</html>
