<html>
  <head>
    <title>Intro to Backbone Lab</title> 
  </head>
  <body>
    <div class="main"></div>
    <script type="text/javascript" src="../assets/javascript/underscore-min.js"></script>
    <script type="text/javascript" src="../assets/javascript/jquery-min.js"></script>
    <script type="text/javascript" src="../assets/javascript/backbone-min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>

  <script type="text/template" id="character">
    <ul>
      <li>Name: <%= name %></li>
      <li>Occupation: <%= occupation %></li>
      <li>Alias: <%= alias %></li>
    </ul>
  </script>
</html>
